<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masliaiev.filmspace"
    android:versionCode="3"
    android:versionName="2.1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".presentation.FilmSpaceApp"
        android:icon="@mipmap/ic_launcher_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FilmSpace">
        <activity
            android:name=".presentation.activities.DetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>